/* FLEX-GRID for whole painting */
.Painting {
    display: flex;
    position: center;
    width: 800px;
    height: 500px;
    color: rgba(0, 0, 0, 0);
    background-color: yellow;
    border: 4px solid black;
}

/* all Zones */
.Painting > div{
    width: 133.3px;
}

/* zoneA */
div:first-child {
    background-color: black;
    border-top-left-radius: 90%;
    z-index: 2;
}

/* zoneB */
div:nth-child(2) {
    background-image: url(https://images.pexels.com/photos/1147124/pexels-photo-1147124.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

/* zoneC */
div:nth-child(3) {
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/blue-lake-water-with-waves-background-royalty-free-image-1701283846.jpg?crop=0.66667xw:1xh;center,top&resize=1200:*);
    z-index: 1;
    transform: rotate(90deg);
    height: 800px;
    transform-origin: 150px 383px;
}
/* zoneD */
div:nth-child(4) {
    background-image: url(https://images.pexels.com/photos/268883/pexels-photo-268883.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    z-index: 2;
}
/* zoneE */
div:nth-child(5) {
    background-image: url(https://images.pexels.com/photos/1053924/pexels-photo-1053924.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
/* zoneF */
div:nth-child(6) {
    background:linear-gradient(#096be2, #7cf791);
    border-bottom-right-radius: 1000%;
}

/* Text */
h3 {
    display: inline-block;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

/* Visitor Form */
form {
    display: flex;
    justify-content: center;
}
.field{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    justify-content: space-evenly;
}

input:hover {
    background-color: yellow;
}

body {
    display: grid;
}

/* sumbit page */
a, h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding: 10%;
}

a {
    border: 2px white solid;
    padding: 20px;
    text-decoration: none;
}
a:hover { 
    background-color: white;
    color: black;

}

/* media formatting */
@media (max-width: 1680px) and (min-width: 320px), (max-height: 1050px) and (min-height: 480px) {
    body {
      background: rgb(255, 255, 255);
    }
  }